$txtPryFont: 2rem;
$txtSecFont: 0.8rem;

header {
  .title {
    font-size: $txtPryFont;
  }
  ul li {
    font-size: $txtSecFont;
    font-weight: 600;
  }
  .hero-txt {
    font-size: 3.8rem;
    font-weight: 300;
  }
}

main {
  section.interactive {
    .interactive-txt {
      h3 {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 5px;

        @media (max-width: 1134px) {
          font-size: 2.2rem;
        }
        @media (max-width: 915px) {
          font-size: 2rem;
        }
        @media (max-width: 850px) {
          font-size: 1.8rem;
        }
        @media (max-width: 800px) {
          font-size: 1.7rem;
        }
        @media (max-width: 752px) {
          font-size: 1.6rem;
        }
      }

      p {
        font-size: $txtSecFont;
        font-weight: 500;
        @media (max-width: 1134px) {
          font-size: 2.2rem;
          font-size: $txtSecFont - 0.1rem;
        }
      }

      @media (max-width: 705px) {
        h3 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  section.creation {
    .creation-title {
      h4 {
        font-size: 3rem;
        font-weight: 200;
      }
    }
  }
}

footer {
  .footer-title {
    font-size: 1.5rem;
  }

  .footer-body {
    font-size: $txtSecFont;

    ul li {
      //   color: $txtPryFont;
      font-weight: 600;
    }
  }
}
