* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

.title {
  font-weight: bolder;
}

.hiddenTxt {
  color: grey;
}

.btn {
  background-color: #ffffff;
  border: 1px solid rgb(5, 5, 5);
  color: black;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 5px;
  outline: none;
  outline: 0;
  padding: 8px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover {
  background-color: rgb(5, 5, 5);
  color: #ffffff;
}

.container {
  padding-inline: 10vw !important;
}

html {
  background: coral;
  height: 100%;
  min-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  width: 100vw;
  height: 100%;
}

header {
  height: 600px;
  width: 100%;
  outline: 1px solid blue;
  width: 100%;
  background: url("../img/desktop/image-hero.jpg") center center/cover;
  color: #ffffff;
}
header .container {
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li {
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  padding-block: 10px;
  position: relative;
}
header .container nav ul li:hover {
  cursor: pointer;
}
header .container nav ul li:hover::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 30%;
  bottom: 0;
}
header .container .hero-txt {
  width: 50vw;
  outline: 1px solid red;
  max-width: 500px;
  border: 1px solid #ffffff;
  margin-top: 100px;
  padding: 15px 25px;
}
@media (max-width: 890px) {
  header .container .hero-txt {
    width: 70vw;
  }
}
@media (max-width: 635px) {
  header .container .hero-txt {
    width: 80vw;
  }
}

main {
  padding-inline: 10vw;
  padding-block: 120px;
  padding-bottom: 160px;
  width: 100vw;
}
main section.interactive {
  position: relative;
  height: 480px;
}
main section.interactive .interactive-img {
  width: 65%;
  height: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
}
main section.interactive .interactive-img img {
  width: 100%;
  height: 100%;
}
main section.interactive .interactive-txt {
  padding-top: 40px;
  padding-left: 80px;
  transform: translateY(3px);
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 65%;
  width: 50%;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  z-index: 10;
}
main section.interactive .interactive-txt h3 {
  margin-top: auto;
  margin-bottom: 20px;
  width: 90%;
}
main section.interactive .interactive-txt p {
  color: grey;
  line-height: 1.5;
}
main section.creation .creation-title {
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
  padding-bottom: 80px;
}
main section.creation .creation-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
main section.creation .creation-card-container .creation-card {
  min-width: 40px;
  height: 420px;
  position: relative;
  color: #d6d5d5;
}
main section.creation .creation-card-container .creation-card:hover {
  color: black !important;
  cursor: pointer;
}
main section.creation .creation-card-container .creation-card .creation-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
}
main section.creation .creation-card-container .creation-card .creation-card-overlay:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
main section.creation .creation-card-container .creation-card img {
  width: 100%;
  height: 100%;
}
main section.creation .creation-card-container .creation-card span {
  z-index: 20;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}
main section.creation .creation-card-container .creation-card span:hover {
  color: #d6d5d5;
}

footer {
  width: 100vw;
  padding-block: 40px;
  padding-inline: 10vw;
  background-color: black;
  color: #ffffff;
}
footer .footer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-title ul li {
  display: inline-block;
  padding-block: 3px;
  margin-left: 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
footer .footer-title ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
footer .footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-body ul li {
  display: inline-block;
  margin-right: 30px;
  padding-block: 10px;
  position: relative;
}
footer .footer-body ul li:hover {
  cursor: pointer;
}
footer .footer-body ul li:hover::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 30%;
  bottom: 0;
}/*# sourceMappingURL=styles.css.map */