// css reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// variables
$txtColor: #ffffff;
$hiddenTxtColor: grey;
$pagePaddingInline: 10vw;
$checkboxTop: 52px;
$checkboxRight: 7vw;
$checkboxWidth: 30px;
$checkboxHeight: 30px;

// mixin
@mixin naveFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin navHover {
  &:hover {
    cursor: pointer;
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background-color: $txtColor;
      position: absolute;
      left: 30%;
      bottom: 0;
    }
  }
}

// Settings
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// utility classes
.title {
  font-weight: bolder;
  font-size: 2.3rem;
}

.hiddenTxt {
  color: $hiddenTxtColor;
}

.btn {
  background-color: $txtColor;
  border: 1px solid rgb(5, 5, 5);
  color: black;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 5px;
  outline: none;
  outline: 0;
  padding: 8px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: rgb(5, 5, 5);
    color: $txtColor;
  }
}

.container {
  padding-inline: $pagePaddingInline !important;
}

html {
  // background: coral;
  height: 100%;
  min-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  width: 100vw;
  height: 100%;
}

header {
  height: 600px;
  background: url("../img/desktop/image-hero.jpg") center center/cover;
  color: $txtColor;

  .container {
    padding-block-start: 50px;

    nav {
      @include naveFlex(space-between, center);
      ul {
        display: flex;

        li.nav-item {
          margin-inline-start: 20px;
          @include naveFlex(space-between, center);
          padding-block: 10px;
          position: relative;
          @include navHover();
        }

        li.menu-wrap {
          .hamburger-container {
            position: absolute;
            top: $checkboxTop;
            right: $checkboxRight;
            width: $checkboxWidth;
            height: $checkboxHeight;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .toggler {
            position: fixed;
            top: $checkboxTop;
            right: $checkboxRight;
            width: $checkboxWidth;
            height: $checkboxHeight;
            opacity: 0;
            z-index: 40;

            &:hover {
              cursor: pointer;
            }

            &:checked + .hamburger-menu {
              visibility: visible;
            }
          }

          .hamburger-menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            visibility: hidden;
            padding-inline: $pagePaddingInline;
            z-index: 20;

            .hamburger-menu_title {
              margin-block-start: 50px;
              margin-block-end: 60px;

              .close-img-container {
                position: fixed;
                top: $checkboxTop;
                right: $checkboxRight;
                width: $checkboxWidth;
                height: $checkboxHeight;

                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }

            ul {
              display: flex;
              flex-direction: column;

              li.menu-item {
                font-weight: 100;
                font-size: 1.5rem;
                margin-block: 20px;
                text-transform: uppercase;
              }
            }
          }
        }

        @media (max-width: 705px) {
          li.nav-item {
            display: none;
          }

          li.menu-wrap.icon {
            display: block;
          }
        }
        @media (min-width: 705px) {
          li.nav-item {
            display: block;
          }

          li.menu-wrap.icon {
            display: none;
          }
        }
      }
    }

    .hero-txt {
      width: 50vw;
      max-width: 500px;
      border: 1px solid $txtColor;
      margin-top: 100px;
      padding: 15px 25px;

      @media (max-width: 890px) {
        width: 66vw;
      }
      @media (max-width: 672px) {
        width: 100%;
      }
    }
  }
}

main {
  padding-inline: $pagePaddingInline;
  padding-block: 120px;
  padding-bottom: 160px;
  width: 100vw;

  section.interactive {
    position: relative;
    height: 480px;

    .interactive-img {
      width: 65%;
      height: 100%;
      position: absolute;
      left: 0%;
      bottom: 0%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .interactive-txt {
      padding-top: 7%;
      padding-left: 8%;
      transform: translateY(3px);
      position: absolute;
      bottom: 0%;
      right: 0%;
      height: 65%;
      width: 50%;
      background-color: $txtColor;
      display: flex;
      flex-direction: column;
      z-index: 10;

      h3 {
        margin-top: auto;
        margin-bottom: 20px;
        width: 100%;
      }

      p {
        color: $hiddenTxtColor;
        line-height: 1.5;
      }
    }

    @media (max-width: 1145px) {
      height: 400px;
    }

    @media (max-width: 800px) {
      height: 380px;
    }

    @media (max-width: 705px) {
      height: 600px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .interactive-img {
        position: static;
        width: 100%;
        height: 50%;
      }

      .interactive-txt {
        position: static;
        width: 100%;
        height: 50%;
        padding: 0;
        text-align: center;

        h3 {
          margin-top: 0;
          font-size: 2.8rem !important;
        }

        p {
          font-size: 1rem !important;
        }
      }
    }
  }

  section.creation {
    .creation-title {
      margin-block: 10px;
      @include naveFlex(space-between, center);
      margin-top: 180px;
      padding-bottom: 80px;
    }

    .creation-card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 200px));
      grid-gap: 30px;
      justify-content: center;

      .creation-card {
        min-width: 40px;
        height: 420px;
        position: relative;
        color: #d6d5d5;

        &:hover {
          color: black !important;
          cursor: pointer;
        }

        .creation-card-overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba($color: $txtColor, $alpha: 0);

          &:hover {
            background-color: rgba($color: $txtColor, $alpha: 0.5);
          }
        }

        span {
          z-index: 2;
          position: absolute;
          bottom: 40px;
          left: 40px;
          color: inherit;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.1;

          &:hover {
            color: #d6d5d5;
          }
        }
      }

      .creation-card:nth-child(1) {
        background: url("../img/desktop/image-deep-earth.jpg") no-repeat center
          center/cover;
      }
      .creation-card:nth-child(2) {
        background: url("../img/desktop/image-night-arcade.jpg") no-repeat
          center center/cover;
      }
      .creation-card:nth-child(3) {
        background: url("../img/desktop/image-soccer-team.jpg") no-repeat center
          center/cover;
      }
      .creation-card:nth-child(4) {
        background: url("../img/desktop/image-grid.jpg") no-repeat center
          center/cover;
      }
      .creation-card:nth-child(5) {
        background: url("../img//desktop/image-from-above.jpg") no-repeat center
          center/cover;
      }
      .creation-card:nth-child(6) {
        background: url("../img/desktop/image-pocket-borealis.jpg") no-repeat
          center center/cover;
      }
      .creation-card:nth-child(7) {
        background: url("../img/desktop/image-curiosity.jpg") no-repeat center
          center/cover;
      }
      .creation-card:nth-child(8) {
        background: url("../img/desktop/image-fisheye.jpg") no-repeat center
          center/cover;
      }
    }

    .all {
      display: none;
    }
  }

  @media (max-width: 705px) {
    section.creation {
      .creation-title {
        margin-block: 15px;
        padding-bottom: 40px;

        h4 {
          width: 100%;
          text-align: center;
        }

        button {
          display: none;
        }
      }

      .creation-card-container {
        grid-template-columns: 1fr;

        .creation-card {
          height: 200px;
        }
        .creation-card:nth-child(1) {
          background: url("../img/mobile/image-deep-earth.jpg");
        }
        .creation-card:nth-child(2) {
          background: url("../img/mobile/image-night-arcade.jpg");
        }
        .creation-card:nth-child(3) {
          background: url("../img/mobile/image-soccer-team.jpg");
        }
        .creation-card:nth-child(4) {
          background: url("../img/mobile/image-grid.jpg");
        }
        .creation-card:nth-child(5) {
          background: url("../img//mobile/image-from-above.jpg");
        }
        .creation-card:nth-child(6) {
          background: url("../img/mobile/image-pocket-borealis.jpg");
        }
        .creation-card:nth-child(7) {
          background: url("../img/mobile/image-curiosity.jpg");
        }
        .creation-card:nth-child(8) {
          background: url("../img/mobile/image-fisheye.jpg");
        }
      }

      .all {
        display: block;
        margin: 40px auto;
      }
    }

    padding-bottom: 60px;
  }
}

footer {
  width: 100vw;
  padding-block: 40px;
  padding-inline: $pagePaddingInline;
  background-color: black;
  color: $txtColor;

  .footer-title {
    @include naveFlex(space-between, center);
    margin-bottom: 20px;

    ul li {
      display: inline-block;
      padding-block: 3px;
      margin-left: 8px;
      border-bottom: 2px solid rgba($color: $txtColor, $alpha: 0);

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid rgba($color: $txtColor, $alpha: 1);
      }
    }
  }

  .footer-body {
    @include naveFlex(space-between, center);

    ul li {
      display: inline-block;
      margin-right: 30px;
      padding-block: 10px;
      position: relative;
      @include navHover();
    }
  }

  @media (max-width: 705px) {
    display: flex;
    flex-direction: column;

    .footer-title {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      gap: 20px;
    }

    .footer-body {
      display: flex;
      flex-direction: column;
      gap: 20px;

      ul li {
        display: inherit;
        margin-right: 0;
      }
    }
  }
}
