// css reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// variables
$txtColor: #ffffff;
$hiddenTxtColor: grey;
$pagePaddingInline: 10vw;

// mixins
@mixin naveFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin navHover {
  &:hover {
    cursor: pointer;
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background-color: $txtColor;
      position: absolute;
      left: 30%;
      bottom: 0;
    }
  }
}

// Settings
li {
  list-style-type: none;
}

a {
  color: inherit;
}

// utility classes
.title {
  font-weight: bolder;
}

.hiddenTxt {
  color: $hiddenTxtColor;
}

.btn {
  background-color: $txtColor;
  border: 1px solid rgb(5, 5, 5);
  color: black;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 5px;
  outline: none;
  outline: 0;
  padding: 8px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: rgb(5, 5, 5);
    color: $txtColor;
  }
}

.container {
  padding-inline: $pagePaddingInline !important;
}

html {
  background: coral;
  height: 100%;
  min-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // max-width: 100%;
  min-width: 100%;
  width: 100vw;
  height: 100%;
}

header {
  height: 600px;
  width: 100%;
  outline: 1px solid blue;
  width: 100%;
  background: url("../img/desktop/image-hero.jpg") center center/cover;
  color: $txtColor;

  .container {
    padding-block-start: 50px;

    nav {
      @include naveFlex();

      ul {
        display: flex;

        li {
          margin-inline-start: 20px;
          padding-block: 10px;
          position: relative;

          @include navHover();
        }
      }
    }

    .hero-txt {
      width: 50vw;
      outline: 1px solid red;
      max-width: 500px;
      border: 1px solid $txtColor;
      margin-top: 100px;
      padding: 15px 25px;

      @media (max-width: 890px) {
        width: 70vw;
      }
      @media (max-width: 635px) {
        width: 80vw;
      }
    }
  }
}

main {
  padding-inline: $pagePaddingInline;
  padding-block: 120px;
  padding-bottom: 160px;
  width: 100vw;

  section.interactive {
    position: relative;
    // outline: 1px solid blue;
    height: 480px;

    .interactive-img {
      width: 65%;
      height: 100%;
      //   outline: 1px solid red;
      position: absolute;
      left: 0%;
      bottom: 0%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .interactive-txt {
      padding-top: 40px;
      padding-left: 80px;
      transform: translateY(3px);
      position: absolute;
      bottom: 0%;
      right: 0%;
      height: 65%;
      width: 50%;
      display: flex;
      background-color: $txtColor;
      flex-direction: column;
      //   outline: 1px solid green;
      //   align-self: baseline;
      z-index: 10;

      h3 {
        margin-top: auto;
        margin-bottom: 20px;
        width: 90%;
      }

      p {
        color: $hiddenTxtColor;
        line-height: 1.5;
      }
    }
  }

  section.creation {
    .creation-title {
      margin-block: 10px;
      @include naveFlex();
      margin-top: 180px;
      padding-bottom: 80px;
    }

    .creation-card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;

      .creation-card {
        min-width: 40px;
        height: 420px;
        position: relative;
        color: #d6d5d5;

        &:hover {
          color: black !important;
          cursor: pointer;
        }

        .creation-card-overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba($color: $txtColor, $alpha: 0);

          &:hover {
            background-color: rgba($color: $txtColor, $alpha: 0.5);
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        span {
          z-index: 20;
          position: absolute;
          bottom: 40px;
          left: 40px;
          color: inherit;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.1;

          &:hover {
            color: #d6d5d5;
          }
        }
      }
    }
  }
}

footer {
  width: 100vw;
  padding-block: 40px;
  padding-inline: $pagePaddingInline;
  background-color: black;
  color: $txtColor;

  .footer-title {
    @include naveFlex();
    margin-bottom: 20px;

    ul li {
      display: inline-block;
      padding-block: 3px;
      margin-left: 8px;
      border-bottom: 2px solid rgba($color: $txtColor, $alpha: 0);

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid rgba($color: $txtColor, $alpha: 1);
      }
    }
  }

  .footer-body {
    @include naveFlex();

    ul li {
      display: inline-block;
      margin-right: 30px;
      padding-block: 10px;
      position: relative;
      @include navHover();
    }
  }
}
